{% extends "base.html" %}

{% load static %}
{% block content %}
    {% block question %}{% endblock %}
    {% block objectlist %}
    <div class="container" style="margin-top: 3%;">
        {% block typetitle %}
        <div class="row">
            <a style="color: black" href="{% url 'index' %}"><h2>New Questions</h2></a>
            <a style="margin-left:5%; color: black" href="{% url 'hot' %}"><h2>Hot questions</h2></a>
        </div>
        {% endblock %}
        {% for object in objects %}
            <div class="row" style="border: 2px solid black; margin-top:2%; height: 25vh;">
                <div class="col-1 mt-3">
                    <div class="row"><img src="{{ object.author.avatar }}" style="width: 80%; height: 80%; margin: auto" alt="Avatar"></div>
                    {% include "like.html" with rating=object.rating %}
                </div>
                <div class="col-10 pr-0">                  
                    <a class="btn btn-link pl-0" href="{% url 'question' object.id %}"><h2>{{ object.title }}</h2></a>
                    <div class="mytext">
                        {{ object.text }}
                    </div>
                    <div class="row">
                        {% block objectproperties%}
                            <div class="col-3 pl-0"><a class="btn btn-link" href="{% url 'question' object.id %}">answers({{ object.answers.count }})</a></div>
                            <div class="col-9">Tags: 
                            {% for tag in object.tags %}
                                <a class="btn btn-link pr-0" href="{% url 'tag' tag.tag %}">{{ tag.tag }}</a>
                            {% endfor %}
                            </div>
                        {% endblock %}                   
                    </div>
                </div>
            </div>
        {% endfor %}

        {% include "paginator.html" with objects=objects %}
        <div class="row" style="height: 5vh"></div>
    </div>
    {% endblock %}
    {% block answer%}{% endblock %}
{% endblock %}