{% extends "paginator.html" %}

{% load static %}

{% block question %}
<div class="container" style="margin-top: 3%;">
    <div class="row">
        <div class="col-2 ml-5 mt-3">
            <div class="row"><img src="{% static "img/House.png" %}" style="width: 100px; height: 100px" alt="Avatar"></div>
                <div class="row mt-5">
                    <button type="button" class="btn btn-success btn-md" style="width:40%">
                        <span class="glyphicon glyphicon-star"></span> 123
                    </button>
                </div>
                <div class="row mt-1">
                    <button type="button" class="btn btn-danger btn-md" style="width:40%">
                        <span class="glyphicon glyphicon-star-empty"></span> 45
                    </button>
                </div>
            </div>
        <div class="col-9">                  
            <h2>{{ question.title }}</h2>
            <div class="text" style="word-wrap:break-word">
                {{ question.text }} aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaak
            </div>
            <div class="row mt-2">
                <div class="col">Tags: 
                    <a class="btn btn-link pr-0" href="#">House</a><a class="btn btn-link pr-0" href="#">doc</a>
                </div>                   
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block typetitle%}
<div class="row">
    <h3>Answers</h3>
</div>
{% endblock %}

{% block objectproperties %}
<div class="col-11 pl-0 pr-0"></div>
<div class="col-1 pl-0 pr-0">
    <button type="button" class="btn btn-success btn-md" style="background-color: rgb(154, 207, 182)">
        <span class="glyphicon glyphicon-ok"></span>
    </button>
</div>
{% endblock %}

{% block answer %}
<div class="form">
    <div class="form-group">
        <label for="answer"><h3>Your answer</h3></label>
        <textarea class="form-control" rows="5" id="answer" placeholder="Enter your answer here..."></textarea>
    </div>
    <button type="submit" class="btn btn-success mt-3">Answer</button>
</div>
<div class="row" style="height: 10vh"></div>
{% endblock %}